<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="LocalizedPerfCounter" value="false" />
    <add key="CloudName" value="HazyBits"/>
    <add key="CloudApiRoot" value="https://scanbotdemo.p3idtech.com/api"/>
    <add key="CloudManager" value="https://scanbotdemo.p3idtech.com/"/>
    <add key="CloudSignin" value="p3id"/>
    <add key="CloudFolderName" value="scanbot"/>
    <add key="CloudUseHttps" value="no"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" />
    <supportedRuntime version="v2.0.50727" />
  </startup>
</configuration>
